Create & Access SQLite database using Python

Objectives
After completing this lab you will be able to:

Create a database
Create a table
Insert data into the table
Query data from the table
Retrieve the result set into a pandas dataframe
Close the database connection

# Task 1: Create database using SQLite

In [5]:
pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for sqlite3

In [1]:
import sqlite3

In [6]:
conn=sqlite3.connect('INSTRUCTOR.db')

In [7]:
cursor_obj=conn.cursor()

In [8]:
cursor_obj.execute('DROP TABLE IF EXISTS INSTRUCTOR')

# Task 2: Create a table in the database

In [9]:
# creating table
table = """
create table if not exists INSTRUCTOR(ID integer primary key not null,
FNAME varchar(20),
LNAME varchar(20),
CITY varchar(20),
CCODE char(2));
"""

cursor_obj.execute(table)

print('Table is ready')

Table is ready

# Task 3: Insert data into the table

In [10]:
cursor_obj.execute('''
insert into INSTRUCTOR values
                   (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
                   (2, 'Raul', 'Chong', 'Markham', 'CA'), 
                   (3, 'Hima', 'Vasudevan', 'Chicago', 'US')
''')

# Task 4: Query data in the table

In [11]:
cursor_obj.execute('''select * from INSTRUCTOR''')
print('All the data')
o_p=cursor_obj.fetchall()
for data in o_p:
    print(data)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [12]:
## Fetch few rows from the table
cursor_obj.execute('''select * from INSTRUCTOR''')
o_p=cursor_obj.fetchmany(2)
for data in o_p:
    print(data)

(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [13]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

In [14]:
query_update='''update INSTRUCTOR set CITY='MOOSETOWN' where FNAME="Rav"'''
cursor_obj.execute(query_update)

In [15]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

# Task 5: Retrieve data into Pandas

In [16]:
import pandas as pd
df=pd.read_sql_query('select * from INSTRUCTOR',conn)
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [17]:
df.LNAME[0]

'Ahuja'

In [18]:
df.shape

(3, 5)

# Task 6: Close the Connection

In [19]:
conn.close()